<section class="header" id="header">
  <h1>{{basics.name}}</h1>
  {{basics.location.address}}, {{basics.location.city}} | <a href="tel:{{basics.phone}}">{{basics.phone}}</a> | <a href="mailto:{{basics.email}}">{{basics.email}}</a>
</section>
