<header class="text-center" id="header">
  <h1>{{basics.name}}</h1>
  <div>{{basics.location.address}}, {{basics.location.city}}</div>
  <div><a href="tel:{{basics.phone}}">{{basics.phone}}</a> | <a href="mailto:{{basics.email}}">{{basics.email}}</a></div>
</header>
