{{#if work}}
  <section id="work">
    <h2>Work</h2>
    {{#each work}}
      <strong>{{name}} - {{position}}</strong> | {{formatDate startDate}} to {{formatDate endDate}}
      <p>{{summary}}</p>
    {{/each}}
  </section>
{{/if}}
